body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .sidebar {

    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    bottom: 20%;
    top:15%;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .sidebar ul li {
    padding: 10px;
  }

  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
  }

  .content {
    margin-left: 200px;
    padding: 20px;
  }
