<app-navbar></app-navbar>

<router-outlet></router-outlet>



<!-- 
    <div class="mt-5"></div>
<div class="mx-auto" style="width: 80%;">
      <app-eventlist></app-eventlist>      
</div>
<router-outlet></router-outlet>
<app-custofront></app-custofront>

<app-event-details></app-event-details>
<app-custofront></app-custofront>
<router-outlet></router-outlet>
<app-footer></app-footer>

<app-add-event></app-add-event>
<app-eventlist></app-eventlist>

      <app-frontpage></app-frontpage>
      <app-eventsection></app-eventsection> 
      <app-popup-profile></app-popup-profile>
      <app-login></app-login>

<router-outlet></router-outlet>
<app-footer></app-footer>

      <app-eventsection></app-eventsection> 
-->