
<section class ="header">
      <div class="tex-tbox" >
      <h1>Your happiness our efforts</h1>
      <a  class="hero-btn" routerLink="/login">Visit Us To Know More</a>
  </div>
</section>

<section class="event" id="section1">
  <h1>Events We Provide</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam aspernatur voluptatibus ipsam amet exercitationem in, architecto quod nisi quam qui aperiam repellendus eos quia ad? Aliquam asperiores obcaecati neque! Excepturi.</p>
  
  
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        
        <img src="assets\t3.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"alt="">
        <h2>Festivals </h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <button type="button" class="btn btn-secondary">View more</button>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="assets\t4.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"alt="">
        <h2>Dinner Parties</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <button type="button" class="btn btn-secondary">View more</button>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="assets\t5.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"alt="">
        <h2>Birthday Parties</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <button type="button" class="btn btn-secondary">View more</button>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  </div>
  </section>

  <section>
    <div class="container shadow-lg grid gap-0 row-gap-3 bg-body-tertiary rounded">
      <div class="row p-2 g-col-6">
          <h3>Visit Us <i class="fa-solid fa-location-dot fa-2xl" style="color: #d43316;"></i></h3>
      </div>
      <div class="row p-2 g-col-6">
          <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.840078655262!2d73.8315676743038!3d18.53612756870059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf7ba4100001%3A0x2d93617adadd9f43!2sSymbiosis%20Center%20for%20Distance%20Learning%20(SCDL)!5e0!3m2!1sen!2sin!4v1708258438415!5m2!1sen!2sin"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>

  <section>

    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
          <small class="d-block mb-3 text-muted">© 2023–2024</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Cool stuff</a></li>
            <li><a class="link-secondary" href="#">Random feature</a></li>
            <li><a class="link-secondary" href="#">Team feature</a></li>
            <li><a class="link-secondary" href="#">Stuff for developers</a></li>
            <li><a class="link-secondary" href="#">Another one</a></li>
            <li><a class="link-secondary" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Resource name</a></li>
            <li><a class="link-secondary" href="#">Resource</a></li>
            <li><a class="link-secondary" href="#">Another resource</a></li>
            <li><a class="link-secondary" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Business</a></li>
            <li><a class="link-secondary" href="#">Education</a></li>
            <li><a class="link-secondary" href="#">Government</a></li>
            <li><a class="link-secondary" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Team</a></li>
            <li><a class="link-secondary" href="#">Locations</a></li>
            <li><a class="link-secondary" href="#">Privacy</a></li>
            <li><a class="link-secondary" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
      </section>


